<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <main>
      <h1 class="title main-logo">Music App</h1>
      <nav class="main-nav">
        <% if logged_in? %>
        <%= button_to "Take me Home", bands_url, method: :get %>
        <div class="login-status">
          <p>Logged in as: <%= current_user.email %></p>
        </div>
        <%= button_to "Sign Out", session_url, method: :delete %>
        <% end %>
      </nav>
    <%= yield %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
      <li><%=error%></li>
      <% end %>
    <% end %>
    <br>
    </main>
  </body>
</html>
